@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* body {
  overflow-x: hidden !important;
}  */

.slick-slider {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  /* Prevent horizontal overflow at the slider level */
}

.slick-track {
  display: flex;
  max-width: 100%;
  /* Limit track width to container */
}

.slick-slide {
  outline: none;
  /* Remove any focus outline causing width issues */
}

.slick-dots {
  bottom: 0px !important;
}

.slick-dots li button:before{
  color:white !important;
}

.thng{
  color: #000000fb;
}
.dm-sans {
  font-family: "DM Sans", sans-serif;

}
.poppins {
  font-family: "Poppins", sans-serif;
}